<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <style>
        html,
        body {
            height: 100%;
        }

        @media (min-width: 640px) {
            table {
                display: inline-table !important;
            }

            thead tr:not(:first-child) {
                display: none;
            }
        }

        td:not(:last-child) {
            border-bottom: 0;
        }

        th:not(:last-child) {
            border-bottom: 2px solid rgba(0, 0, 0, .1);
        }
    </style>
    <title>Home</title>
</head>
<body class="flex items-center justify-center">
<div class="grid grid-cols-1 gap-2 m-2">
    <div class="container mx-auto bg-green-100 px-4 py-2 rounded-lg shadow-lg">
        <table>
            <tr>
                <td style="width: 80px">Wallet:</td>
                <th style="width: 80px" class="border border-green-600 bg-white">{{ balance }}</th>
            </tr>
        </table>
    </div>
    <br>
    <div class="container mx-auto bg-green-100 px-4 py-2 rounded-lg shadow-lg">
        <h2>Stocks bought</h2>
        <div class="container">
                <table class="w-full flex flex-row flex-no-wrap sm:bg-white rounded-lg overflow-hidden sm:shadow-lg my-5">
                    <thead class="text-white">
                    <tr class="bg-blue-400 flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
                        <th></th>
                        <th class="p-3 text-left">Amount</th>
                        <th class="p-3 text-left">Price at</th>
                        <th class="p-3 text-left">Date</th>
                        <th class="p-3 text-left">Actual price</th>
                        <td class="p-3 text-left"></td>
                    </tr>
                    </thead>
                    <tbody class="flex-1 sm:flex-none">
                    {% for stock in stockList %}
                        <tr class="flex flex-col flex-no wrap sm:table-row mb-2 sm:mb-0">
                            <td class="border-grey-light border hover:bg-gray-100 p-3">{{ stock.name }}</td>
                            <td class="border-grey-light border hover:bg-gray-100 p-3 text-center">{{ stock.amount }}</td>
                            <td class="border-grey-light border hover:bg-gray-100 p-3">
                                {{ (stock.price/100)|number_format(2) }}</td>
                            <td class="border-grey-light border hover:bg-gray-100 p-3 ">{{ stock.date|date }}</td>
                            {% if stock.price < stock.actual_price %}
                                <td class="border-grey-light border bg-green-500 p-3 text-center">
                                    ⬆ {{ (stock.actual_price/100)|number_format(2) }}</td>
                            {% elseif stock.price > stock.actual_price %}
                                <td class="border-grey-light border bg-red-500 p-3 text-center">
                                    ⬇ {{ (stock.actual_price/100)|number_format(2) }}</td>
                            {% else %}
                                <td class="border-grey-light border p-3 text-center">{{ (stock.actual_price/100)|number_format(2) }}</td>
                            {% endif %}
                            <td class="border-grey-light border hover:bg-gray-100 p-3">
                                <form method="post" action="/sell/{{ stock.id }}">
                                <input type="submit" value="SELL"
                                       class="bg-blue-500 hover:bg-blue-700 text-white px-2 rounded">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
    <br>
    <div class="container mx-auto bg-green-100 px-4 py-2 rounded-lg shadow-lg">
        <h1>Buy stocks</h1>
        <form method="post" action="/">
            <table>
                <tr>
                    <td><label for="input2">Which stock:</label></td>
                    <td><input type="text" class="rounded" id="input2" name="name" size="12">
                        <comment class="{{ error  ?  'text-red-600'  :  'text-red-600' }}"> {{ validName }} </comment>
                    </td>
                </tr>
                <tr>
                    <td><label for="input4">How much:</label></td>
                    <td><input type="number" class="rounded" id="input4" name="amount" size="3" max="105">
                        <comment class="{{ error  ?  'text-red-600'  :  'text-red-600' }}"> {{ validAge }} </comment>
                    </td>
                </tr>
            </table>
            <input type="submit" class="bg-blue-500 hover:bg-blue-700 text-white px-2 rounded" value="BUY"
                   name="buy">
            <comment class="{{ error  ?  'text-red-600'  :  'text-red-600' }}"> {{ errorMsg }} </comment>
        </form>
    </div>
</div>
</body>
</html>
